.more-description{

  &__content{
    overflow: hidden;
    text-align: center;
  }
  &__truck{
    float: left;
    padding-right: 40px;
  }

  &__description{
    font-size: 1.85rem;
    font-family: 'Pacifico', cursive;
    color: $mainBlue;
    letter-spacing: 3px;
  }
  p{
    padding-right: 40px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 1.15rem;
  }


}
