.more-description{

  &__content{
    overflow: hidden;
    text-align: center;
  }
  &__truck{
    float: left;
    margin-right: 40px;

    @mixin atSmall{
      margin-bottom: 20px;
    }
  }

  &__description{
    font-size: 1.85rem;
    font-family: 'Pacifico', cursive;
    color: $mainBlue;
    letter-spacing: 3px;
  }

  p{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 1.125rem;
    margin-right: 40px;

    @mixin atSmall{
      margin: 0;
      padding: 0px 18px;
      font-size: 1rem;
    }

  }


}
