.services-section{
  text-align: center;
  background-color: #f8f8f8;
  overflow: hidden;
  width: 100%;
  @mixin atSmall{
    margin-top: 20px;
  }

  &__subheader{
    font-size: 2.75rem;
    font-family: 'Oswald', sans-serif;
    color: $mainBlue;
    letter-spacing: 3px;

    @mixin atSmall{
      font-size: 2.15rem;
    }
  }
  &__description{
    color: #949494;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
  }

  &__flex-container{
    display: flex;
    flex-wrap: wrap;
  }

  &__row{
    display: flex;
    padding: 0.5em;
    width: 100%;

    width: 300px;
    float: left;
    margin: 40px;
    background-color: $mainGray;
    border-radius: 3px;
    border: 2px solid #eae8e8;
    padding: 20px;
    box-shadow: 0px 9px 5px -4px rgba(171,168,171,1);

    @mixin atSmall{
      margin: 20px;
    }
  }

  &__flex-items{
    display: flex;
    padding: 0.5em;
    width: 100%;
    display: flex;
   flex-direction: column;
   background-color: #fff;
   padding: 1em;
   width: 100%;
  }

  &__header{
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    color: #949494;
    font-weight: 500;
  }

  &__text{
    p{
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 1.1rem;
      color: $mainGrayTitle;
      border-bottom: 1px solid $mainLightGray;
      padding-bottom: 10px;
    }
      p:last-child{
        border-bottom: none;
      }
  }

}
