.sub-header{
  padding: 20px 0;
  position: absolute;
  z-index: 2;
  background-color: rgba( 0, 56, 101 , .3);
  transition: background-color .3s ease-out;
  width: 100%;


  &__logo{
    position: absolute;
    top: 20px;

    @mixin atSmall{
      left: 50%;
      transform: translateX(-50%) scale(.8);
      top: -22px;
    }
  }

  &__menu-icon{


    @mixin atSmall{
      width: 20px;
      height: 20px;
      background-color: #fff;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;
    }
  }





  @mixin atSmall{
    background-color: transparent;

    &--background-expanded{
      background-color: rgba( 0, 56, 101 , .9);
    }

  }

}
