.who-we-are{
  background-color: $mainBlue;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;

  &__logo{
    margin-top: 30px;
  }

  @mixin atSmall{
    padding-top: 24px;
    padding-bottom: 37px;
  }

  &__whoweare-content{
    text-align: center;
  }
  &__title{
    font-size: 2.75rem;
    font-family: 'Copperplate';
    font-weight: lighter;
    color: $mainWhite;
    letter-spacing: 3px;
    color: $mainLightGray;

    @mixin atSmall{
      font-size: 2.15rem;
    }
  }
  &__descrition{
    max-width: 865px;
    margin: 0 auto;
    color: $mainWhite;
    font-family: 'Nova', sans-serif;
    font-weight: lighter;
    line-height: 30px;
    font-size: 1.25rem;
    padding-top: 20px;

    @mixin atSmall{
      font-size: 1rem;
    }
  }

}
